/* app global css */
body {
    font-family: 'Space Grotesk',sans-serif!important;
    color: #40406a!important;
}
.q-layout__shadow:after {
    box-shadow: none!important;
    border-bottom: solid 2px #e8e8e8!important;
}

.qitemSidebar {
    padding: 30px!important;
}
.qitemSidebar.active {
    font-weight: bold;
    color:#4c38f2
    
}
.q-header{
    padding: 20px;
}
.text-h6{
    color: #0d0c54!important;
    font-size: 30px;
    font-weight: 700;
}
.text-h7{
    color: #0d0c54!important;
    font-size: 20px;
    font-weight: 700;
}
.q-btn--rectangle {
    border-radius: 10px;
}
.btnCustom{
    padding: 10px!important
}

/*widget swap*/
.stacked-cards_cardGroups__2H_qS {
    display: flex;
    align-items: center;
    width: 432px;
    height: 265px;
    position: relative;
    margin: auto;
}
.stacked-cards_card__o4kFR {
    background: #ffffff;
    padding: 30px;
    border-radius: 24px;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: all .6s ease-out;
    transition: all .6s ease-out;
    -webkit-box-shadow: 0 0 12px 0 rgb(187 187 187 / 50%);
    box-shadow: 0 0 12px 0 rgb(187 187 187 / 50%);
    width: 432px;
    cursor: pointer;
}
.stacked-cards_pairsImg__32Pjk {
    display: flex;
    position: relative;
}
.stacked-cards_pairsImg__32Pjk img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.stacked-cards_content__1tVtX {
    font-size: 29px;
    font-weight: 600;
    color: rgb(0 0 0 / 50%);
    line-height: 42px;
    margin-top: 10px;
}
.stacked-cards_content__1tVtX p {
    display: flex;
    align-items: center;
}
.stacked-cards_content__1tVtX p .stacked-cards_number__3WZIa {
    margin: 0;
    padding: 0 12px;
    color: #0d0c54!important;
    display: flex;
    justify-content: center;
}
.stacked-cards_content__1tVtX p:nth-child(2) {
    margin-top: 8px;
}
.stacked-cards_tips__2SS2n {
    margin-top: 33px;
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
    color:  rgb(0 0 0 / 50%);
}
.stacked-cards_tips__2SS2n span {
    color: #000000;
    text-decoration: underline;
}
.stacked-cards_switchButtons__21RqP {
    position: absolute;
    right: -58px;
    top: 82px;
}
.stacked-cards_switchButtons__21RqP .stacked-cards_buttonUp__pVfLF {
    margin-bottom: 30px;
    background-image: url(https://dodoex.io/assets/images/card-btn-up.png);
    background-size: 89px 40px;
    background-position: 0 0;
}
.stacked-cards_switchButtons__21RqP .stacked-cards_buttonDown__2dnOl, .stacked-cards_switchButtons__21RqP .stacked-cards_buttonUp__pVfLF {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
}

.stacked-cards_switchButtons__21RqP .stacked-cards_buttonDown__2dnOl {
    background-image: url(https://dodoex.io/assets/images/card-btn-down.png);
    background-size: 89px 40px;
    background-position: 0 0;
}
.stacked-cards_switchButtons__21RqP .stacked-cards_buttonDown__2dnOl, .stacked-cards_switchButtons__21RqP .stacked-cards_buttonUp__pVfLF {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
}
/*swap Primary*/
.lhqCVE {
    border-radius: 20px;
    background: rgb(255 255 255);
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 20px;
    z-index: 1;
    width: 360px;
    margin: 0px auto;
    overflow: hidden;
    margin-top: 30px;
}
.kPSQsX {
    position: relative;
}
.jNNqtt {
    opacity: 1;
    transition: opacity 0.2s ease 0s;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}
.jwOBbM {
    padding: 20px;
    width: 100%;
}
.hcYNws {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.htQTDh {
    top: 20px;
    right: 66px;
    width: 36px;
    height: 36px;
    margin-right: 4px;
}
.knVUHO.default {
    box-shadow: none;
}
.knVUHO:disabled {
    background: rgb(51, 51, 51);
    color: rgb(26, 26, 27);
    cursor: default;
}
.hchNDK {
    padding-left: 0px;
    padding-right: 0px;
    width: 36px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 4px;
    background-color: rgb(38, 39, 41);
}
.hchNDK {
    padding-left: 0px;
    padding-right: 0px;
    width: 36px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 4px;
    background-color: rgb(38, 39, 41);
}

.knVUHO {
    background: rgb(38, 39, 41);
    color: rgb(255, 255, 255);
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 10px;
    white-space: nowrap;
    height: 36px;
    border: none;
    appearance: none;
    cursor: pointer;
    outline: 0px;
    box-shadow: none;
    transition: background-color 250ms ease 0s, color 250ms ease 0s;
}
.dMzRJX {
    background: rgb(26, 26, 27);
    color: rgb(255, 255, 255);
    width: 100%;
}
.Ezmgn {
    display: flex;
    margin-bottom: 8px;
    line-height: 19px;
    height: 19px;
}
.dEmCTs {
    flex: 1 1 0%;
    font-size: 14px;
    color: rgb(0 0 0);
    font-weight: 600;
}
.cfmNWP {
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    background: rgb(255 255 255);
    border-width: 1px;
    height: 58px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
}
.hCeVkh {
    padding-right: 10px;
    height: 100%;
}
.eVPJAw {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.VlCrY {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.kglWtV {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.gQYBcx {
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.iwByGz {
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.fbjKLz {
    padding: 0px 0px 0px 6px;
}
.eVPJAw svg {
    color: rgb(255, 255, 255);
}
.iJZbZb {
    cursor: pointer;
    user-select: none;
}

.fqGJMi:last-child {
    margin-right: 0px;
}

.iWLZXK:last-child {
    margin-right: 0px;
}
.cfmNWP input {
    flex: 1 1 0%;
}
.fqGJMi {
    text-align: right;
    margin-right: 16px;
}
.iWLZXK {
    border: none;
    background: transparent;
    padding: 0px;
    outline: none;
    height: 58px;
    line-height: 58px;
    font-weight: 600;
    width: 0px;
    flex: 1 1 0%;
    min-width: 0px;
    color: black;
    font-size: 20px;
    margin-right: 10px;
}
.diIJcg {
    margin: 10px 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.kVnVaZ {
    cursor: pointer;
    user-select: none;
}
.kVnVaZ path:first-child {
    stroke: rgb(0, 0, 0);
}
.kVnVaZ path:last-child {
    fill: rgb(0, 0, 0);
}
.eGowmH {
    line-height: 24px;
    color: rgb(133, 133, 141);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 20px 0px;
}
.eGowmH {
    line-height: 24px;
    color: rgb(133, 133, 141);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 20px 0px;
}
.NEDGi {
    margin-left: 10px;
    cursor: pointer;
}
.dwLAsI {
    cursor: pointer;
    user-select: none;
    color: rgb(55, 55, 57);
}
.dwLAsI path {
    fill: white;
}
.bysMrZ {
    font-weight: 500;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    color: rgb(255 247 247);
    background-color: rgb(21 167 248);
}
.jkZCXP {
    display: block;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    height: auto;
    font-weight: 600;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.q-dialog__inner--minimized > div {
    max-width: 560px;
    padding: 10px;
    border-radius: 20px;
}
.brandF{
    text-align: center;
}
.brandF:hover{
    -webkit-transform: scale3d(.97,.97,1.01);
    transform: scale3d(.97,.97,1.01);
}
.q-item__section--side > .q-icon {
    font-size: 30px;
    color: white;
    align-items: center;
    border-radius: 18px;
    background-color: #4c38f2;
    -webkit-transition: background-color 250ms;
    transition: background-color 260ms;
    width: 50px;
    height: 50px
}
.qitemSidebar {
    
    margin: 20px;
    border-radius: 10px;
}
.bg-black {
    background: #4c38f2!important;
}
.q-item__label {
    font-size: 16px;
}
.item_APY{
    background: rgba(235, 235, 235, 0.6);
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    padding-left: 15px;
}
.item_APY p{
    display: flex;
    align-items: center;
}
.item_APY p i{
    font-size: 14px;
    margin-right: 10px;
}
.item_APY p span{
    font-size: 16px;
    font-weight: bold;
}
